@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@use 'colors';

.sidebar {
  position: fixed;
  top: 0;
  background-color: #f5b751;
  height: 100%;
  width: 20rem;
  left: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1em;
}

.sidebarHeader {
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 0px 1em;
  margin-top: 1em;
}

.sidebarConta {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: 2px solid #14213D;
  background-color: white;
  width: 100%;
  padding: 0.5em;
}

.sidebarConta span {
  font-family: Poppins;
  text-decoration: underline;
  font-size: 1.3em;
  margin-left: 0.5em;
}

.sidebarConta img {
  width: 30px;
}

.sidebarExit button {
  background-color: #f5b751;
  border: 0;
}

.sidebarExit img {
  width: 1.4em;
}

.sidebarMain {
  margin: 0px 1em;;
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.today {
  display: flex;
  justify-items: center;
  align-items: center;
  border-radius: 6px;
  border: 2px solid #14213D;
  background-color: white;
  padding: 0.5em 1em;
  cursor: pointer;
}

.today img {
  width: 20px;
  height: 20px;
}

.today span {
  font-size: 1.1em;
  margin-left: 0.5em;
}

.readLater {
  display: flex;
  justify-items: center;
  align-items: center;
}

.readLater img {
  width: 1em;
  height: 1.1em;
}

.readLater span {
  font-size: 1.1em;
  margin-left: 0.5em;
}

.feedsDispley {
  height: 200px;
  border: 2px solid #14213D;
  border-radius: 6px;
  padding: 0.5em 1em;
  background-color: white;
}

.feeds img {
  width: 30px;
  height: 20px;
  margin-left: 0.1em;
}

.feeds span {
  font-size: 1.4em;
  margin-left: 0.2em;
  font-weight: bold;
}

.portais {
  margin-left: 2em;
}

.portal {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
}

.portalName {
  font-size: 1.0em;
  margin-left: 0.5em;
  font-family: Poppins;

}

.portal img {
  width: 20px;
  height: 20px;
  margin-right: 0.3em;
}

.moreFeed {
  font-size: 0.8em;
}

.sidebarFooter {
  border: 2px solid #14213D;
  border-radius: 6px;
  padding: 0.5em 1em;
  background-color: white;
  margin: 0px 1em;
  font-family: Poppins;
}

.sidebarFooter img {
  width: 1.3em;
  height: 1.3em;
  margin-right: 0.5em;
}

.sidebarFooter div {
  display: flex;
  align-items: center;
}

.content {
  width: 100%;
  height: 100%;
  background-color: #faead6;
  overflow-y: auto;
  border-radius: 10px;
  border: 3px solid #14213D;

}

.contentInfo {
  margin: 0em 5em 0em 8em;
}

.feedName {
  font-size: 2em;
  font-family: Poppins;
  margin-bottom: 0.5em;
}

.noticia {
  display: flex;
  align-items: center;
  margin-top: 2em;
  cursor: pointer;
}

.noticiaImg img {
  width: 19em;
  height: 10em;
  border-radius: 15px;
  margin-right: 2em;
}

.noticiaHeader {
  display: flex;
  align-items: center;
  height: 7em;
}

.noticiaHeader img {
  max-width: 3em;
  margin-right: 1em;
}

.noticiaTitle {
  font-size: 1.5em;
  max-width: 60em;
  font-family: Poppins;
}

.noticiaText {
  font-size: 1em;
  max-width: 70em;
  font-family: Poppins;
}

#displeyLogin {
  background-color: #E5E5E5;
  height: 98vh;
  width: 98vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#displeyLogin #login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#displeyLogin #cadastro {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#displeyLogin #login img {
  width: 10em;
  height: 10em;
}

#displeyLogin #login form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2.2em;
}

#displeyLogin #login input {
  border-radius: 0.3em;
  border: 2px solid #FCA311;
  margin-bottom: 0.3em;
  padding: 1em;
  font-size: 1em;
}

#displeyLogin #login button {
  border-radius: 0.3em;
  width: 100%;
  margin-bottom: 0.5em;
  padding: 1em;
  font-size: 1em;
}

#displeyLogin #cadastro img {
  width: 10em;
  height: 10em;
}

#displeyLogin #cadastro form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2.2em;
}

#displeyLogin #cadastro input {
  border-radius: 0.3em;
  border: 2px solid #FCA311;
  margin-bottom: 0.3em;
  padding: 1em;
  font-size: 1em;
}

#displeyLogin #cadastro button {
  border-radius: 0.3em;
  width: 100%;
  margin-bottom: 0.5em;
  padding: 1em;
  font-size: 1em;
}

#displeyLogin .entrar {
  background-color: #14213D;
  color: #FFFFFF;
}

.header {
  width: 100%;
  height: 7%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header1 {
  width: 1fr;
  height: 100%;
}

.header2 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.5em;
}

.header2 img {
  width: 3.5em;
}

.header2 span {
  font-size: 40px;
  font-family: Poppins;
  margin-left: 0.3em;
}

.header3 {
  width: 1fr;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

#displeyIndex {
  height: 100%;    
  display: flex;
  padding-left: 30rem;
  width: 100%;
}

.main {
  height: 100%;
  width: 80rem;
}

/*# sourceMappingURL=style.css.map */