.header {
    width: 100%;
    height: 7%;
    background-color: colors.$branco;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .header1 {
        width: 1fr;
        height: 100%;
    }
    .header2 {
        width: 1fr;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .header2 img {
            width: 2em;
        }
        .header2 span {
            font-size: 1.7em;
            font-family: Poppins;
            margin-left: 0.3em;
        }
    .header3 {
        width: 1fr;
        height: 100%;
    }