@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.text-input {
  border: 5px solid var(--yellow);
  border-radius: 5px;
  padding: 0.65em 0.75em;
  font-size: 1rem;
  box-shadow: 0px -5px 2px var(--gray) inset;
}

.text-input:focus {
  outline: none;
}

.toggle-eye {
  display: flex;
  justify-content: space-between;
}
.toggle-eye .eye {
  display: flex;
  background-color: transparent;
  border: none;
  padding: 0px;
  margin: 0px;
  padding: 0.65em 0.75em;
  border: 5px solid var(--yellow);
  border-left-width: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: -1px -5px 2px var(--gray) inset;
  cursor: pointer;
}
.toggle-eye .eye img {
  width: 2em;
  height: auto;
  transition: filter 150ms ease-in-out;
}
.toggle-eye .eye:active img {
  filter: brightness(150%);
}
.toggle-eye .eye:focus {
  outline: none;
}
.toggle-eye input {
  border: 5px solid var(--yellow);
  border-right-width: 0px;
  width: 100%;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 0.65em 0.75em;
  padding-right: 0px;
  font-size: 1rem;
  box-shadow: 1px -5px 2px var(--gray) inset;
}
.toggle-eye input:focus {
  outline: none;
}

.textarea-input {
  border: 5px solid var(--yellow);
  border-radius: 5px;
  padding: 0.65em 0.75em;
  font-size: 1rem;
  box-shadow: 0px -5px 2px var(--gray) inset;
  resize: vertical;
}

.primary-btn {
  background-color: var(--blue);
  width: inherit;
  padding: 0.5em 0.75em;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  color: white;
  text-align: center;
  text-decoration: none;
  border: 5px solid var(--blue);
  border-radius: 5px;
  transition: background-color 150ms ease-in-out;
}

.primary-btn:active {
  background-color: rgb(26.2962962963, 43.3888888889, 80.2037037037);
  border-color: rgb(26.2962962963, 43.3888888889, 80.2037037037);
}

.outlined-btn {
  background-color: transparent;
  width: inherit;
  padding: 0.5em 0.75em;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  color: var(--blue);
  text-align: center;
  text-decoration: none;
  border: 5px solid var(--blue);
  border-radius: 5px;
  box-shadow: 0px -5px 2px var(--gray) inset;
  transition: background-color 150ms ease-in-out;
}

.outlined-btn:active {
  background-color: rgba(var(--gray), 0.5);
}

.file-btn {
  width: 187px;
  overflow: hidden;
}

.file-btn::-webkit-file-upload-button {
  visibility: hidden;
}

.file-btn::before {
  content: "Selecione sua Imagem";
  display: inline-block;
  white-space: nowrap;
}

.red {
  background-color: var(--red);
  border-color: var(--red);
}

.red:active {
  background-color: rgb(224.281779661, 24.218220339, 24.218220339);
  border-color: rgb(224.281779661, 24.218220339, 24.218220339);
}

.news-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  margin: 7em 0px;
}

.new {
  border: 5px solid var(--blue);
  border-radius: 10px;
  padding: 1em 1.25em;
  width: 50em;
  box-shadow: 0px -5px 2px var(--gray) inset;
}
.new a {
  text-decoration: none;
}
.new h1:hover {
  color: rgb(26.2962962963, 43.3888888889, 80.2037037037);
}
.new h1 {
  font-size: 1.5em;
  color: var(--blue);
}
.new .content {
  margin: 0.5em 0px;
  font-size: 1.25em;
}
.new .date {
  font-size: 1em;
  text-align: end;
}

::-webkit-scrollbar {
  margin: 0px 2px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
}

::-webkit-scrollbar-track {
  background-color: var(--gray);
}

.sidebar {
  background-color: var(--blue);
  position: fixed;
  top: 0px;
  z-index: 3;
  overflow: hidden;
  height: 100vh;
  width: 0px;
  box-shadow: -5px 0px 2px rgb(45.1851851852, 74.5555555556, 137.8148148148) inset;
  transition: width 200ms ease-in-out;
}
.sidebar .sidebar-header {
  background-color: var(--yellow);
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  padding: 1em;
  box-shadow: -5px 0px 2px rgb(252.9522821577, 192.2033195021, 92.5477178423) inset;
}
.sidebar .sidebar-header h1 {
  color: white;
  font-weight: 900;
}
.sidebar .sidebar-header .monkey-icon {
  width: 75px;
  height: auto;
}
.sidebar .sidebar-header #closeSidebar {
  width: 36px;
  height: auto;
  cursor: pointer;
}
.sidebar .sidebar-body {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  gap: 1em;
}
.sidebar .sidebar-body .subscriptions {
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
  border-radius: 5px;
}
.sidebar .sidebar-body .subscriptions .sub {
  display: flex;
  justify-content: space-between;
  color: var(--blue);
  font-weight: 500;
  text-transform: capitalize;
  color: var(--blue);
}
.sidebar .sidebar-body .subscriptions .sub p {
  cursor: pointer;
}
.sidebar .sidebar-body .subscriptions .sub img {
  cursor: pointer;
  background-color: transparent;
}
.sidebar .sidebar-body .header {
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
}
.sidebar .sidebar-body .header img {
  background-color: #FCA311;
  border-radius: 5px;
  width: 28px;
  height: auto;
  cursor: pointer;
}
.sidebar .sidebar-footer {
  position: absolute;
  padding: 1.5em;
  bottom: 0%;
}
.sidebar .sidebar-footer a {
  display: flex;
  align-items: center;
  gap: 0.5em;
  width: fit-content;
  cursor: pointer;
  text-decoration: none;
  margin-top: 0.5em;
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
}
.sidebar .sidebar-footer a img {
  width: 28px;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgba(20, 33, 61, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.modal .modalCenter {
  background-color: var(--gray);
  padding: 1.5em 1.75em;
  border-radius: 5px;
  border: 5px solid var(--blue);
}
.modal span {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--blue);
}
.modal .form-modal {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  margin-top: 1em;
}
.modal .form-modal .actions {
  display: flex;
  gap: 0.5em;
  width: 100%;
}

.modal-more {
  position: fixed;
  background-color: var(--yellow);
  color: white;
  border-radius: 5px;
  padding: 0.5em;
}
.modal-more p {
  font-weight: 600;
  cursor: pointer;
}

:root {
  --blue: #14213D;
  --yellow: #FCA311;
  --gray: #E5E5E5;
  --red: #E82A2A;
}

::-moz-selection { /* Code for Firefox */
  color: var(--blue);
  background: var(--gray);
}

::selection {
  color: var(--blue);
  background: var(--gray);
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins";
}

button,
img {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

h1 {
  color: var(--blue);
}

.hidden {
  display: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.form-provider {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.form-provider .greetings {
  display: flex;
  align-items: center;
  gap: 1.5em;
  margin-bottom: 1em;
}
.form-provider .greetings p {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--blue);
}
.form-provider .greetings .monkey-icon {
  width: 125px;
  height: 125px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 60vh;
}
.login-form .btn-container {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
  gap: 0.5em;
}
.login-form .greetings {
  display: flex;
  align-items: center;
  gap: 1.5em;
  margin-bottom: 1em;
}
.login-form .greetings p {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--blue);
}
.login-form .greetings .monkey-icon {
  width: 125px;
  height: 125px;
}

.error-message {
  font-size: 1rem;
  font-weight: bold;
  color: var(--red);
  margin-top: 1em;
  text-align: center;
}

.profile-image {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}

.edit-info {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 30%;
}

.actions {
  display: flex;
  gap: 0.5em;
  width: 100%;
}

.providers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7em 0px;
}
.providers-container a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--blue);
  text-decoration: none;
  cursor: pointer;
  border: 5px solid var(--blue);
  border-radius: 10px;
  padding: 0.5em;
  width: 50vw;
  box-shadow: 0px -5px 2px var(--gray) inset;
}

.provider-profile {
  display: flex;
  margin: 7em 2.5em;
  gap: 2.5em;
}
.provider-profile .edit-profile {
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: fixed;
}
.provider-profile .edit-profile button {
  width: 100%;
}
.provider-profile .edit-profile form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.provider-profile .news {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-left: 25em;
}
.provider-profile .news .new {
  width: inherit;
}

.create-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin: 7em 0px;
}
.create-new form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 50vw;
  height: 50vh;
}

/*# sourceMappingURL=index.css.map */
