<section class="sidebar">
	<div class="sidebar-header">
		<img class="monkey-icon" src="/assets/icons/monkey-icon-white.png" alt="monkey-icon">
		<h1>MonkeyFeed</h1>
		<img onclick="closeSidebar()" id="closeSidebar" src="/assets/icons/close.svg" alt="close-icon">
	</div>
	<div class="sidebar-body">
		<span>Suas Inscrições <img src="/assets/icons/add-white.svg" alt="add-icon"></span>
		<div class="subscriptions">
			<% for (let i = 0; i < subscriptions.length; i++) { %>
				<p><%= subscriptions[i].name %></p>
			<% } %>
		</div>
	</div>
	<script src="/scripts/modal.js"></script>
</section>
