<section class="sidebar">
	<div class="sidebar-header">
		<img class="monkey-icon" src="/assets/icons/monkey-icon-white.png" alt="monkey-icon">
		<h1>MonkeyFeed</h1>
		<img onclick="closeSidebar()" id="closeSidebar" src="/assets/icons/close.svg" alt="close-icon">
	</div>
	<div class="sidebar-body">
		<span>Suas Inscrições <img onclick="toggleModalAdd()" src="/assets/icons/add-white.svg" alt="add-icon"></span>
		<div class="subscriptions">
			<% if (subs.length === 0) { %>
				<span class="sub">Adicione uma Inscrição</span>
			<% } else { %>
				<% for (let i = 0; i < subs.length; i++) { %>
					<span onclick="changeFeed('<%= subs[i].id %>')" class="sub"><%= subs[i].name %> <img src="/assets/icons/more_vert.svg" alt="more-icon"></span>
				<% } %>
			<% } %>
			<script src="/scripts/change_feed.js"></script>
		</div>
	</div>
	<div class="sidebar-footer">
		<a href="/signout"><img src="/assets/icons/logout.svg" alt="logout-icon">Sair</a>
	</div>
	<script src="/scripts/modal.js"></script>
</section>
