<section class="sidebar">
	<div class="sidebar-header">
		<img src="/assets/icons/monkey-icon.png" alt="monkey-icon">
		<h1>MonkeyFeed</h1>
		<img onclick="closeSidebar()" id="closeSidebar" src="/assets/icons/close.svg" alt="close-icon">
	</div>
    <p>Menu</p>
</section>
