<section class="sidebar">
	<div class="sidebar-header">
		<img class="monkey-icon" src="/assets/icons/monkey-icon-white.png" alt="monkey-icon">
		<h1>MonkeyFeed</h1>
		<img onclick="closeSidebar()" id="closeSidebar" src="/assets/icons/close.svg" alt="close-icon">
	</div>
	<div class="sidebar-body">
		<span>Suas Inscrições <img src="/assets/icons/add-white.svg" alt="add-icon"></span>
		<div class="subscriptions">
			<% for (let i = 0; i < subs.length; i++) { %>
				<p>subs</p>
				<p><%= subs[i].link %></p>
				<script>
					console.log('<%= subs %>');
				</script>
			<% } %>
		</div>
	</div>
	<div class="sidebar-footer">
		<span class="logout"><img src="/assets/icons/logout.svg" alt="logout-icon">Sair</span>
	</div>
	<script src="/scripts/modal.js"></script>
</section>
