<div id="modalAdd">
    <div class="modalAddCenter">
        <span>Adicione sua Inscrição</span>
        <form action="" id="formAdd">
            <input class="text-input" type="text" name="name" placeholder="Nome" required>
            <input class="text-input" type="name" name="link" placeholder="Link" required>
			<div class="actions">
            	<button onclick="toggleModalAdd()" class="primary-btn red" type="button">Cancelar</button>
            	<button class="primary-btn" type="submit">Adicionar</button>
			</div>
        </form>
    </div>
	<script src="/scripts/add_modal.js"></script>
</div>
