<div id="modalAdd">
    <div class="modalAddCenter">
        <span>inscrição</span>
        <form action="" id="formAdd">
            <label for="">Nome</label>
            <input type="text" name="name" required>
            <label for="">Link</label>
            <input type="name" name="link" required>
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>