<div class="modal hidden" id="modalEdit">
    <div class="modalCenter">
        <span>Edite sua Inscrição</span>
        <form action="" id="formAdd">
            <input class="text-input" type="text" name="name" placeholder="Nome" required>
            <input class="text-input" type="name" name="link" placeholder="Link" required>
			<div class="actions">
            	<button onclick="toggleModalEdit()" class="primary-btn red" type="button">Cancelar</button>
            	<button class="primary-btn" type="submit">Aplicar</button>
			</div>
        </form>
    </div>
	<script src="/scripts/add_sub.js"></script>
</div>
