<div class="modal hidden" id="modalAdd">
    <div class="modalCenter">
        <span>Adicione sua Inscrição</span>
        <form autocomplete="off" id="formAdd" class="form-modal">
            <input class="text-input" type="text" name="name" placeholder="Nome" required>
            <input class="text-input" type="name" name="link" placeholder="Link" required>
			<div class="actions">
            	<button onclick="toggleModalAdd()" class="primary-btn red" type="button">Cancelar</button>
            	<button class="primary-btn" type="submit">Adicionar</button>
			</div>
        </form>
    </div>
	<script src="/scripts/edit_sub.js"></script>
</div>
