<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/style/index.css">
  <title><%= title %></title>
</head>
<body>
  <%- include('../views/partials/_navbar') %>
  <%- include('../views/partials/_menu') %>
  <main>
    <% for (let i = 0; i < news.length; i++) { %>
      <p><%= news[i].title %></p>
    <% } %>
  </main>
</body>
</html>
