<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <nav class='navbar'>
    <div>
      <img src="/assets/icons/menu.svg" alt="menu-icon">
      <img src="/assets/icons/monkey-icon.png" alt="monkey-icon">
    </div>
    <ul>
      <li>News</li>
    </ul>
    <div>
      <p><%= username %></p>
      <img src="/assets/icons/account_circle.svg" alt="profile-icon">
    </div>
  </nav>
</body>
</html>
