<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/style/not_found.css">
  <title><%= title %></title>
</head>
<body>
  <main class="not-found">
    <img src="/assets/icons/monkey-icon.png" alt="monkey-icon">
    <h1><span>404 Error</span> - Não foi possível encontrar essa página</h1>
  </main>
</body>
</html>
