<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/style/index.css">
  <title><%= title %></title>
</head>
<body>
  <main class="container" style="height: 100vh">
    <form id="register-form" class="login-form">
      <div class="greetings">
        <img class="monkey-icon" src="/assets/icons/monkey-icon.png" alt="MonkeyFeed Logo">
        <p>Crie sua conta e aproveite as notícias!</p>
      </div>
      <input class="text-input" type="text" name="name" placeholder="Nome" required>
      <input class="text-input" type="email" name="email" placeholder="Email" required>
      <div class="toggle-eye">
        <input type="password" name="password" placeholder="Senha" required>
        <button class="eye" type="button">
          <img src="/assets/icons/visibility.svg" alt="">
        </button>
      </div>
      <div class="toggle-eye">
        <input type="password" placeholder="Confirme sua senha" name="confirmePassword" required>
        <button class="eye" type="button">
          <img src="/assets/icons/visibility.svg" alt="">
        </button>
      </div>
      <div class="btn-container">
        <button class="primary-btn" type="submit">Cadastrar</button>     
        <a href="<%= loginLink %>" class="outlined-btn" type="button">
	  Já possui uma conta?
	</a>
      </div>
    </form>
  </main>
</body>
<script src="/scripts/register.js"></script>
</html>
