@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$blue: #14213D;
$gray: #E5E5E5;

img {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.navbar {
  display: flex;
  background-color: $blue;
  align-items: center;
  justify-content: space-between;

  padding: 0px 5em;

  font-family: 'Poppins';
  color: white;
  font-size: 1.1em;
  font-weight: bold;

  width: 88%;

  position: fixed;
  z-index: 2;

  .menu {
    display: flex;
    align-items: center;
    gap: 1em;

    .monkey-icon {
      width: 75px;
      height: auto;
    }

    .menu-icon {
      width: 50px;
      height: auto;
      cursor: pointer;
    }
  }

  .links {
    display: flex;
    gap: 1em;
    list-style-type: none;

    a {
      color: white;
      text-decoration: none;
      transition: color 150ms ease-in-out;
    }

    a:hover {
      color: $gray;
    }
  }

  .profile {
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;

    img {
      width: 50px;
      height: auto;
    }
  }
}

.sidebar {
  background-color: var(--blue);
  position: fixed;
  top: 0px;
  z-index: 2;
  width: 0px;
  overflow: hidden;

  height: 100vh;

  .sidebar-header {
    background-color: var(--yellow);
    display: flex;
  }
}

