@use 'sass:color';

$blue: #14213D;
$gray: #E5E5E5;
$yellow: #FCA311;

.sidebar {
  background-color: var(--blue);
  position: fixed;
  top: 0px;
  z-index: 3;
  overflow: hidden;

  height: 100vh;
  width: 0px;

  box-shadow: -5px 0px 2px color.adjust($blue, $lightness: 20%) inset; 

  transition: width 200ms ease-in-out;

  .sidebar-header {
    background-color: var(--yellow);
    display: flex;
    gap: 1em;

    justify-content: center;
    align-items: center;

    padding: 1em;

    box-shadow: -5px 0px 2px color.adjust($yellow, $lightness: 15%) inset; 

    h1 {
      color: white;
      font-weight: 900;
    }

    .monkey-icon {
      width: 75px;
      height: auto;
    }

    #closeSidebar {
      width: 36px;
      height: auto;
      cursor: pointer;
    }
  }

  .sidebar-body {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    gap: 1em;

    .subscriptions {
      background-color: var(--gray);
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      padding: 1em;
      border-radius: 5px;

      .sub {
        display: flex;
        justify-content: space-between;
        color: var(--blue);
        font-weight: 500;
        text-transform: capitalize;
        color: var(--blue);

        p {
          cursor: pointer;
        }

        img {
          cursor: pointer;
          background-color: transparent;
        }
      }
    }

    .header {
      display: flex;
      justify-content: space-between;

      color: white;
      font-weight: 700;
      font-size: 1.1rem;

      img {
        background-color: $yellow;
        border-radius: 5px;

        width: 28px;
        height: auto;

        cursor: pointer;
      }
    }
  }

  .sidebar-footer {
    position: absolute;
    padding: 1.5em;
    bottom: 0%;

    a {
      display: flex;
      align-items: center;
      gap: 0.5em;
      width: fit-content;
      cursor: pointer;

      text-decoration: none;
      margin-top: 0.5em;

      color: white;
      font-weight: 700;
      font-size: 1.1rem;

      img {
        width: 28px;
      }
      
    }
  }
}
